.intro {
  text-align: center;
}

.uscis {
  height: 100px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}


@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}


.p2 {
  text-align: center;
  color: gray;
}


@keyframes flashing {
  0% {color: red;}
  25% {color: orange;}
  50% {color: rgb(15, 239, 255);}
  75% {color: green;}
  100% {color: blue;}
}

.flashing-text {
  animation: flashing 1s linear infinite;
  font-family: 'Amiri', serif;
  font-family: 'Amiri Quran', serif;
  font-family: 'Aref Ruqaa', serif;
  font-family: 'Reem Kufi', sans-serif;
}
